<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home Page</title>
</head>
<body>
<h1>Welcome to Yunho's web development sandbox</h1>

<p>Click on the links below to go to the different endpoints:</p>
<ul>
  <li><a href="/stock-table">View Stock Data in Table</a></li>
  <li><a href="/stock-graph">View Stock Data in Graph</a></li>
  <li><a href="/stock-prediction">View Predicted Stock Data in Table</a></li>
  <li><a href="/bank">Use bank system</a></li>
  <li><a href="/music1">Pop song (2hrs)</a></li>
  <li><a href="/music2">Korean pop song (2hrs) </a></li>
</ul>
</body>
</html>
